* {
    background-color: rgb(42, 42, 42);
    color: whitesmoke;
    align-items: center;
}

h1, h2, h3, h4 {
    color: aqua;
    padding: 20px;
}

p, li {
    font-size: 18px;
    padding: 10px;
    margin: auto;
}

strong {
    color: wheat;
}

code {
    color: black;
    font-size: 18px;
    background-color: wheat;
}

a {
    color: aqua;
    text-decoration: none;
    border: 1px solid aqua;
    padding: 10px;
    margin-top: 10px;
}

a:visited {
    color: aqua;
}

a:hover {
    color: wheat;
}

.menu {
    display: flex;
    flex-direction: column;
    font-size: 36px;
    align-items: center;
}

.footer {
    display: flex;
    font-size: 18px;
    justify-content: center;
}

#demo, #demo1, #demo2, #demo3, #demo4, #demo5, #demo6, #demo7, #demo8, #demo9 {
    background-color: aliceblue;
    display:inline-block;
    color:rgb(42, 42, 42)
}

#demo10  {
    background-color: yellowgreen;
    font-size: 20px;
    color:rgb(42, 42, 42)
}